@font-face {
    font-family: "CeraProBlack";
    src: url(../fonts/Fontspring-DEMO-cerapro-black.otf);
}

@font-face {
    font-family: "CeraProBold";
    src: url(../fonts/Fontspring-DEMO-cerapro-bold.otf);
}

@font-face {
    font-family: "CeraProMedium";
    src: url(../fonts/Fontspring-DEMO-cerapro-medium.otf);
}

@font-face {
    font-family: "CeraProLight";
    src: url(../fonts/Fontspring-DEMO-cerapro-light.otf);
}

@font-face {
    font-family: "CeraProRegular";
    src: url(../fonts/Fontspring-DEMO-cerapro-regular.otf);
}

@font-face {
    font-family: "CeraProThin";
    src: url(../fonts/Fontspring-DEMO-cerapro-thin.otf);
}

:root{
    --link-color: #006db7;
    --nav-text-color: #747474;
    --button-background-color: #f8f8f8;
    --border-color: #e0e0e0;
    --accent-color: #ffd502;
    --link-border-color: #005ad2;
    --text-color: black;
    --background-color:white;
    --footer-background-color: rgb(32, 29, 72);
    --footer-button-background-color: rgb(24, 21, 45);
    --footer-button-background: rgb(81, 79, 104);
    --darkblue-background-color: #021c47;
    --form-button-color: rgb(233, 111, 20);
    --button-hover-background-color: #f6f6f6;
}

body{
    margin: 0;
    font-family: "CeraProMedium";
}

header{
    background: var(--background-color);
    border-bottom-style: solid;
    border-color: var(--accent-color);
}

header > nav{
    display: flex;
    align-items: center;
    padding: 0 0.5em 0 1em;
}

header > nav img{
    height: 2em;
}

header > nav > button img{
    height: 1.5em;
    padding: 0 0.5em 0 0;
}

main > nav{
    display: flex;
    padding: 1em 1em 1em 4em;
    gap: 1em;
}

main > nav > a{
    text-decoration: none;
    color: var(--link-color);
}

main > nav > a:hover{
    text-decoration: underline;
    color: var(--link-color);
}

main > nav > a:visited{
    color: var(--link-color);
}

main > nav > p{
    margin: 0;
    color: var(--nav-text-color);
}

main > nav > img{
    height: 1em;
}

nav > button{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

header img{
    height: 1em;
}

main > nav{
    font-size: 0.8em;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

nav li a{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}

main > section:nth-last-of-type(2){
    display: flex;
    flex-direction: column;
}

main > section > h2{
    justify-self: center;
    align-self: center;
    background-color: var(--text-color);
    color: var(--background-color);
}

main section:nth-child(4) article{
    background-color: var(--darkblue-background-color);
    color: var(--background-color);
}

main section:nth-child(4) img{
    display: flex;
    width: 100%;
}

main section:nth-child(4) article:nth-child(3){
    text-align: center;
    color: var(--background-color);
}

main section:nth-child(4) article:nth-child(8){
    text-align: right;
    color: var(--background-color);
    font-size: 0.85em;
}

main section:nth-child(4) article:nth-child(11){
    text-align: right;
}

main section:nth-child(4) article:nth-child(11) a{
    background-color: var(--button-background-color);
    color: var(--text-color);
    justify-content: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    margin: 1em 1em 2em 1em;
    background-color: var(--button-background-color);
    padding: 0.5em;
}

main section:nth-child(4) article:nth-child(11) a:hover{
    background-color: var(--button-hover-background-color);
    text-decoration: underline;
}

main section:nth-child(4) article:nth-child(11) p{
    font-family: CeraProMedium;
    margin: 0;
    padding: 0 0.5em 0 0.5em;
}

main section:nth-child(4) article:nth-child(11) svg{
    height: 1em;
    padding: 0 0.5em 0 0.5em;
}

main section:nth-child(4) h3{
    padding: 0 1.2rem;
    margin: 0;
    font-size: 1.5em;
    font-family: CeraProBold;
    line-height: 1.5em;
}

main section:nth-child(4) p{
    padding: 0 1.2rem 0 1.2rem;
    margin: 0;
    font-family: CeraProRegular;
    line-height: 1.5em;
}

main section:nth-child(5) article{
    padding: 1.2em;
}

main section:nth-child(5) article img{
    width: 100%;
}

main details summary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-background-color);
    border-top: 1px solid var(--border-color);
    padding: 2rem 1.2rem;
    cursor: pointer;
    min-width: 0;
    font-size: 1.1em;
}

main details summary svg{
    height: 1.5em;
    fill: var(--text-color);
}

details[open] summary svg path:nth-last-of-type(1){
    display: inline;
}

details[open] summary svg path:nth-last-of-type(2){
    display: none;
}

main section:nth-child(7){
    padding: 2rem 1.2rem;
    font-size: 1em;
}

main section:nth-child(7) p{
    font-family: CeraProRegular;
}

main section:nth-child(7) ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3em;
    column-gap: 2em;
    padding: 1.75em 0;
}

main section:nth-child(7) a{
    text-decoration: none;
    color: var(--text-color);
    padding: 0.7em 1em;
    border: 2px solid;
    border-color: var(--link-border-color);
    border-radius: 60em;
    width: auto;
}

main section:nth-child(7) a:hover{
    text-decoration: underline;
    color: var(--background-color);
    background-color: var(--link-border-color);
}

footer{
    background-color: var(--footer-background-color);
}

footer p{
    color: var(--background-color);
}

footer section:nth-child(1){
    display: flex;
    flex-direction: row;
    gap: 1em;
}

footer section:nth-child(1) p {
    font-size: 1.5em;
    font-family: CeraProRegular;
    margin: 0;
}

footer section:nth-child(1) svg{
    fill: var(--background-color);
    height: 2em;
}

footer section:nth-child(3) p {
    font-family: CeraProMedium;
    margin-top: 1em;
}

form{
    display: flex;
    flex-direction: row;
    width: 100%;;
}

form label{
    text-align: left;
    font-size: 0.9em;
    font-family: CeraProMedium;
    color: var(--background-color);
}

form input[type=email]{
    padding: 1.5em 1.5em;
    border: none;
    font-family: CeraProRegular;
    width: 100%;
}

form button{
    background-color: var(--form-button-color);
    border: none;
    padding: 1em 1.5em;
    border-radius: 0 6px 6px 0;
    font-family: CeraProBold;
    cursor: pointer;
}

form button svg{
    height: 1.2em;
}

footer section:nth-child(6) p{
    font-size: 0.9em;
    font-family: CeraProRegular;
    text-align: left;
    margin: 0;
    padding-bottom: 2em;
}

footer section{
    padding:2em 1em 0em 1em;
}

footer > section > button{
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: var(--footer-button-background-color);
    color: var(--text-color);
    height: 3em;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

footer > section > button p{
    font-size: 1.5em;
    font-family: CeraProRegular;
}

footer section article summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    border-top: 1px solid var(--background-color);
    cursor: pointer;
    background-color: var(--footer-background-color);
    color: var(--background-color);
    padding: 1em;
    font-family: CeraProBold;
    font-size: 1.2em;
}

footer section article details ul{
    display: flex;
    flex-direction: column;
    gap: 0;
}

footer section article details li {
    border-top: 1px solid var(--background-color);
    padding: 1em;
}

footer section article summary:hover{
    background-color: var(--footer-button-background);
}

footer section details svg{
    height: 1em;
}

footer section > img{
    height: 75px;
}

footer section:nth-child(2) ul{
    display: flex;
    flex-direction: column;
}

footer section:nth-child(4){
    padding: 1em 0 1em 0;
}

footer section:nth-child(5){
    display: grid;
    grid-template-columns: 3em 3em 3em 3em;
    gap: 1em;
}

footer section:nth-child(5) p{
    grid-column-start: 1;
    grid-column-end: 5;
}

footer section:nth-child(5) img{
    grid-row-start: 2;
    height: 3em;
}

footer section:nth-child(6) ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 1.5em;
    padding-bottom: 2em;
}

footer section:nth-child(6) a{
    font-size: 0.8em;
}

footer li a{
    font-family: CeraProRegular;
    color: var(--background-color);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

form svg{
    width: 1em;
    height: auto;
    fill: var(--text-color);
}