@font-face {
    font-family: "CeraProBlack";
    src: url(../fonts/Fontspring-DEMO-cerapro-black.otf);
}

@font-face {
    font-family: "CeraProBold";
    src: url(../fonts/Fontspring-DEMO-cerapro-bold.otf);
}

@font-face {
    font-family: "CeraProMedium";
    src: url(../fonts/Fontspring-DEMO-cerapro-medium.otf);
}

@font-face {
    font-family: "CeraProLight";
    src: url(../fonts/Fontspring-DEMO-cerapro-light.otf);
}

@font-face {
    font-family: "CeraProRegular";
    src: url(../fonts/Fontspring-DEMO-cerapro-regular.otf);
}

@font-face {
    font-family: "CeraProThin";
    src: url(../fonts/Fontspring-DEMO-cerapro-thin.otf);
}

:root{
    --link-color: #006db7;
    --nav-text-color: #747474;
    --button-background-color: #f8f8f8;
    --border-color: #e0e0e0;
    --accent-color: #ffd502;
    --link-border-color: #005ad2;
    --text-color: black;
    --background-color:white;
    --footer-background-color: rgb(32, 29, 72);
    --footer-button-background-color: rgb(24, 21, 45);
    --footer-button-background: rgb(81, 79, 104);
    --darkblue-background-color: #021c47;
    --button-background-color: #ffffffd9;
}

body{
    margin: 0;
    font-family: "CeraProMedium";
}

header{
    background: var(--background-color);
    border-bottom-style: solid;
    border-color: var(--accent-color);
}

header > nav{
    display: flex;
    align-items: center;
    padding: 0 0.5em 0 1em;
}

header > nav img{
    height: 2em;
}

header > nav > button img{
    height: 1.5em;
    padding: 0 0.5em 0 0;
}

main > nav{
    display: flex;
    padding: 1em 1em 1em 4em;
    gap: 1em;
}

main > nav > a{
    text-decoration: none;
}

main > nav > a:hover{
    text-decoration: underline;
    color: var(--link-color);
}

main > nav > a:visited{
    color: var(--link-color);
}

main > nav > p{
    margin: 0;
    color: var(--nav-text-color);
}

main > nav > img{
    height: 1em;
}

nav > button{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

header img{
    height: 1em;
}

main > nav{
    font-size: 0.8em;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

nav li a{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}

main > section:nth-child(2){
    padding: 0 0.75em 0 0.75em;
}

main > section:nth-child(2) > article:first-child {
    text-align: right;
    overflow: hidden;
    display: flex;
}

/*
main > section:nth-child(2) > article > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: grey;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 0.5em;
    padding: 0.4em;
}
*/

main > section:nth-child(2) > article > img{
    width: 100%;
    height: auto;
    display: block;
}

main > section:nth-child(2) > article > a:first-child{
    width: 7rem;
    height: 1.5rem;
    border-radius: 1em;
    text-align: center;
}

main > section:nth-child(2) > article > a:active{
    top: 1px;
}

main > section:nth-child(2) > article > a:focus{
    background: var(--text-color);
}

main > section:nth-child(2) > article:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: start;
}

h1{
    align-self: flex-start;
    font-family: CeraProBold;
    font-size: 1.5em;
}

main > section:nth-child(2) > article:nth-child(2) p{
    background-color: var(--accent-color);
    font-size: 0.8em;
    margin: 0.2em;
    padding: 0.3em 0.8em 0.3em 0.8em;
    align-self: flex-start;
}

main > section:nth-child(3){
    background-color: var(--darkblue-background-color);
    color: var(--background-color);
}

main > section:nth-child(3) article:nth-child(3){
    text-align: center;
    color: var(--background-color);
}

main > section:nth-child(3) article:nth-child(8){
    text-align: right;
    color: var(--background-color);
    font-size: 0.85em;
}

main > section:nth-child(3) article:nth-child(11){
    text-align: right;
}

main > section:nth-child(3) article:nth-child(11) a{
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
    margin: 0 1em 2em 1em;
    background-color: var(--button-background-color);
}

main > section:nth-child(3) article:nth-child(11) p{
    font-family: CeraProMedium;
    margin: 0;
    padding: 0.4em;
}

main > section:nth-child(3) article:nth-child(11) img{
    height: 1em;
}

main > section:nth-child(3) h3{
    padding: 0 1.2rem 0 1.2rem;
    font-size: 1.5em;
    font-family: CeraProBold;
    line-height: 1.5em;
}

main > section:nth-child(3) p{
    padding: 0 1.2rem 0 1.2rem;
    font-family: CeraProRegular;
    line-height: 1.5em;
}

main > section:nth-child(3) img{
    width: 100%;
}

main > section > article > button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--button-background-color);
    width: 100%;
    border: none;
    border-top: 1px solid var(--border-color);
    cursor: pointer;
    padding: 1rem 1.2rem 1rem 1.2rem;
}

h2{
    font-weight: normal;
    font-size: 1.5em;
    font-family: CeraProMedium;
}

main > section > article > button img{
    height: 2em;
    align-self: center;
}

main > section:nth-child(6){
    padding: 2rem 1.2rem 2rem 1.2rem;
    font-size: 1em;
}

main > section:nth-child(6) p{
    font-family: CeraProRegular;
}

main > section:nth-child(6) ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 3em;
    column-gap: 2em;
    padding: 1.75em 0 1.75em 0;
}

main > section:nth-child(6) a{
    text-decoration: none;
    color: var(--text-color);
    padding: 0.7em 1em 0.7em 1em;
    border: 2px solid;
    border-color: var(--link-border-color);
    border-radius: 60em;
    width: auto;
}

main > section:nth-child(6) a:hover{
    text-decoration: underline;
    color: var(--background-color);
    background-color: var(--link-border-color);
}

footer{
    background-color: var(--footer-background-color);
}

footer p{
    color: var(--background-color);
}

footer section:nth-child(1) p {
    text-align: left;
    font-size: 1.5em;
    font-family: CeraProRegular;
    margin: 0;
}

footer section:nth-child(3) p {
    font-size: 1em;
    font-family: CeraProMedium;
    margin: 0;
    text-align: center;
}

footer section:nth-child(6) p{
    font-size: 0.8em;
    font-family: CeraProRegular;
    text-align: left;
    margin: 0;
    padding-bottom: 2em;
}

footer section{
    padding:2em 1em 0em 1em;
}

footer section:nth-child(1){
    display: flex;
    flex-direction: row;
    gap: 1em;
}

footer > section > button{
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: var(--footer-button-background-color);
    color: var(--text-color);
    height: 3em;
    justify-content: space-between;
}

footer > section > button p{
    font-size: 1.5em;
    font-family: CeraProRegular;
}

footer section article > button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: none;
    border-top: 1px solid var(--background-color);
    cursor: pointer;
    background-color: var(--footer-background-color);
    color: var(--background-color);
    padding: 1em;
}

footer section article > button:hover{
    background-color: var(--footer-button-background);
}

footer section button img{
    height: 30px;
}

footer section > img{
    height: 75px;
}

footer section:nth-child(4){
    padding: 1em 0 1em 0;
}

footer section:nth-child(2) ul{
    display: flex;
    flex-direction: column;
}

footer section:nth-child(5){
    display: grid;
    grid-template-columns: 2.5em 2.5em 2.5em 2.5em;
    gap: 1em;
}

footer section:nth-child(5) p{
    grid-column-start: 1;
    grid-column-end: 3;
}


footer section:nth-child(5) img{
    grid-row-start: 2;
    height: 3em;
}

footer section:nth-child(6) ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 3em;
    column-gap: 2em;
    padding-bottom: 2em;
}

footer section:nth-child(6) a{
    font-size: 0.8em;
}

footer li a{
    font-family: CeraProRegular;
    color: var(--background-color);
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 100%;
}

form input[type=email]{
        border-radius:0;
}
