/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}
header{
    background: white;
    border-bottom-style: solid;
    border-color: gold;
    /* width: 100%; */
}

header > nav{
    display: flex;
    align-items: center;
    /* width: 100%; */
}

main > nav{
    display: flex;
    padding: 1em;
    gap: 1em;
}

main > nav > a{
    text-decoration: none;
    color: lightseagreen;
}

main > nav > a:hover{
    text-decoration: underline;
    color: lightseagreen;
}

main > nav > p{
    margin: 0;
}

button{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

nav > a > img{
    height: 2em;
}

main > section > article > img{
    width: 100%;
    height: auto;
    display: block;
}

main > nav{
    font-size: 0.8em;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

li a{
    font-size: 0.8em;
    text-decoration: none;
    color: black;
}

main > section > article:first-child {
    text-align: right;
    overflow: hidden;
}

main > section > article > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: grey;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 0.5em;
    padding: 0.4em;
}

main > section > article > a:first-child{
    width: 7rem;
    height: 1.5rem;
    border-radius: 1em;
    text-align: center;
}

main > section > article > a:active{
    top: 1px;
}

main > section > article > a:focus{
    background: #000;
}

main > section > article:nth-child(2){
    display: flex;
    flex-wrap: wrap;
}

main > section > article:nth-child(2) p{
    background-color: gold;
    font-size: 0.8em;
    margin: 0.2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

main > section > article:nth-child(2) h2{
}
